In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("D:\MY PROJECTS\Student Grade Analyzer\data\Students_Grading_Dataset.csv")
print(df.head())

  Student_ID First_Name Last_Name                    Email  Gender  Age  \
0      S1000       Omar  Williams  student0@university.com  Female   22
1      S1001      Maria     Brown  student1@university.com    Male   18
2      S1002      Ahmed     Jones  student2@university.com    Male   24
3      S1003       Omar  Williams  student3@university.com  Female   24
4      S1004       John     Smith  student4@university.com  Female   23

    Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
0  Mathematics           97.36          40.61        59.61  ...
1     Business           97.71          57.27        74.00  ...
2  Engineering           99.52          41.84        63.85  ...
3  Engineering           90.38          45.65        44.44  ...
4           CS           59.41          53.13        61.77  ...

   Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
0           62.84        83.49      C                  10.3
1           98.23        92.29      F                  27.1
2           91.22        93.55      F                  12.4
3           55.48        51.03      A                  25.5
4           87.43        90.91      A                  13.3

   Extracurricular_Activities Internet_Access_at_Home  Parent_Education_Level  \
0                         Yes                      No                Master's
1                          No                      No             High School
2                         Yes                      No             High School
3                          No                     Yes             High School
4                         Yes                      No                Master's

  Family_Income_Level Stress_Level (1-10) Sleep_Hours_per_Night
0              Medium                   1                   5.9
1                 Low                   4                   4.3
2                 Low                   9                   6.1
3                 Low                   8                   4.9
4              Medium                   6                   4.5

[5 rows x 23 columns]